.logout {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 25px;

    background-color: #161719; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;


    &:hover {
        background-color: #F3F4F6; 
        cursor: pointer;
    }
}